<div class="page-header">
  <%= link_to user_replay_rates_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <h1>New user_replay_rate</h1>
</div>

<%= render 'form' %>
